:root {
  --reach-dialog: 1;
}
.App {
  text-align: center;
}
.tab-button{
  background-color: #f4f4f4;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  margin: 1px;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  z-index: 1;
  width:100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}
.tab-button:hover{
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.tab-button:active{
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.rows{
  display: flex;
  flex-direction: row;
}
.item{
  padding:10px;
  width:150%;
  margin: 5px;
}
.ct{
  padding:5px;
  width:20%;
}
.searchbar{
  width:25%;
  height:20px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #555;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  margin: 10px;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
}
.landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px;
}
